<%= form_with(model: param) do |form| %>
  <% if param.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(param.errors.count, "error") %> prohibited this param from being saved:</h2>

      <ul>
        <% param.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :group, style: "display: block" %>
    <%= form.text_field :group %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.label :label, style: "display: block" %>
    <%= form.text_field :label %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
