<div id="<%= dom_id param %>">
  <p>
    <strong>Group:</strong>
    <%= param.group %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= param.value %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= param.label %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= param.active %>
  </p>

</div>
