<div id="<%= dom_id period %>">
  <p>
    <strong>Date from:</strong>
    <%= period.date_from %>
  </p>

  <p>
    <strong>Date to:</strong>
    <%= period.date_to %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= period.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= period.active %>
  </p>

</div>
