<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_url %>">Home</a></li>
  </ol>
</nav>

<p style="color: green"><%= notice %></p>

<h1>Periods</h1>

<div id="products">
  <table class="table mb-3">
    <thead>
      <tr>
        <th class="col">Period</th>
        <th class="col">Tuition Due Date</th>
        <th class="col" colspan="3">Name</th>
      </tr>
    </thead>
  
    <tbody>
      <% @periods.each do |p| %>
        <tr>
          <td><%= p.date_from.strftime("%d %b %Y") %> <small>to</small> <%= p.date_to.strftime("%d %b %Y") %></td>
          <td><%= p.due_date.strftime("%d %b %Y") %></td>
          <td><%= p.name %></td>
          <td><%= link_to ">>", p %></td>
          <td><span class="<%= "badge rounded-pill #{active(p.active)}" %>"><%= active_status(p.active) %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New period", new_period_path %>
