<p style="color: green"><%= notice %></p>

<%= render @period %>

<div>
  <%= link_to "Edit this period", edit_period_path(@period) %> |
  <%= link_to "Back to periods", periods_path %>

  <%= button_to "Destroy this period", @period, method: :delete %>
</div>
