<div id="<%= dom_id journal %>">
  <p>
    <strong>Date:</strong>
    <%= journal.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= journal.description %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= journal.currency %>
  </p>

  <p>
    <strong>Trans nat:</strong>
    <%= journal.trans_nat %>
  </p>

  <p>
    <strong>Balanced:</strong>
    <%= journal.balanced %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= journal.active %>
  </p>

</div>
